.container {
	padding-top: 20px; 
}

#navbar {
	opacity: 0;
	transition: opacity 0.2s ease-in;
}

.nav-wrapper {
	display: flex;
	align-items: center;
}

.brand-logo {
	width: 50px;
	height: 50px;
	display: flex!important;
	border-radius: 50%;
	overflow: hidden;
}

.avatar-section {
	display: flex;
	justify-content: center;
}

.img-container {
	width: 256px;
	height: 256px;
	cursor: pointer;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}

.avatar {
	width: 100%;
}

.img-container::after {
	content: "Ruben Karapetyan";
	font-size: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	opacity: 0;
	background: #43a0473b;
	transform: rotate(10deg);
	transition: all 0.2s ease-in;
}

.img-container:hover::after {
	transform: rotate(0deg);
	opacity: 1;
}

.divider {
	margin: 50px 0;
	border-top: 1px solid rgba(0,0,0,0.14);
}

.technologies {
	display: flex;
	align-items: center;
}

.bubbling-up_item {
	position: absolute;
	left: 50vw;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 0.5;
	animation: bubbleUp 3s linear infinite, bubbleSideWays 1s ease-in-out infinite alternate;
}

.bubbling-up_item_1 {
	left: 3vw;
	animation: bubbleUp 2s linear infinite, bubbleSideWays 1.5s ease-in-out infinite alternate;
}

.bubbling-up_item_2 {
	width: 90px;
	height: 90px;
	left: 7vw;
	animation: bubbleUp 4s linear infinite, bubbleSideWays 2s ease-in-out infinite alternate;
}

.bubbling-up_item_3 {
	left: 18vw;
}

.bubbling-up_item_4 {
	width: 30px;
	height: 30px;
	left: 25vw;
	animation: bubbleUp 5s linear infinite, bubbleSideWays 2s ease-in-out infinite alternate;
}

.bubbling-up_item_5 {
	width: 80px;
	height: 80px;
	left: 35vw;
	animation: bubbleUp 2s linear infinite, bubbleSideWays 1s ease-in-out infinite alternate;
}

.bubbling-up_item_6 {
	width: 30px;
	height: 30px;
	left: 42vw;
	animation: bubbleUp 4s linear infinite, bubbleSideWays 1s ease-in-out infinite alternate;
}

.bubbling-up_item_8 {
	width: 80px;
	height: 80px;
	left: unset;
	right: 42vw;
	animation: bubbleUp 6s linear infinite, bubbleSideWays 3s ease-in-out infinite alternate;
}

.bubbling-up_item_9 {
	width: 90px;
	height: 90px;
	left: unset;
	right: 35vw;
	animation: bubbleUp 4s linear infinite, bubbleSideWays 1.5s ease-in-out infinite alternate;
}

.bubbling-up_item_10 {
	width: 30px;
	height: 30px;
	left: unset;
	right: 30vw;
}

.bubbling-up_item_11 {
	left: unset;
	right: 24vw;
	animation: bubbleUp 6s linear infinite, bubbleSideWays 3s ease-in-out infinite alternate;
}

.bubbling-up_item_12 {
	width: 30px;
	height: 30px;
	left: unset;
	right: 17vw;
	animation: bubbleUp 2s linear infinite, bubbleSideWays 1s ease-in-out infinite alternate;
}

.bubbling-up_item_13 {
	left: unset;
	right: 14vw;
	animation: bubbleUp 5s linear infinite, bubbleSideWays 2s ease-in-out infinite alternate;
}

.bubbling-up_item_14 {
	width: 30px;
	height: 30px;
	left: unset;
	right: 10vw;
}

.bubbling-up_item_15 {
	left: unset;
	right: 5vw;
	animation: bubbleUp 4s linear infinite, bubbleSideWays 1.5s ease-in-out infinite alternate;
}

@keyframes bubbleUp {
	0% {transform: translateY(100vh);}
	100% {transform: translateY(-100px);}
}

@keyframes bubbleSideWays {
	0% {margin-left: 0px;}
	100% {margin-left: -50px;}
}